@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --color-primary: #1152d4;
  --color-background-dark: #101622;
}

@layer base {
  body {
    @apply bg-[#101622] text-slate-100 antialiased font-sans;
  }
}

.glass-card {
  background: rgba(255, 255, 255, 0.03);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.1);
}
